body {
  margin: 0;
  /* background-color: rgba(236, 185, 176, 255); */
  background-color: #f4e3d3;
  /* color: #32834b; */
  color: #d4543c;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.startpage {
  position: relative;
  display: flex;
  height: 100vh;
}

.heading {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 5rem;
  cursor: default;
}

.top-right {
  font-size: 1.5rem;
  position: absolute;
  top: 20px;
  right: 20px;
}

.top-left {
  font-size: 1.5rem;
  position: absolute;
  top: 20px;
  left: 20px;
}

.bottom-left {
  font-size: 1.5rem;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.bottom-right {
  font-size: 1.5rem;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.heart {
  height: 50vh;
}

.more-info {
  height: 100vh;
}

.floating {
  animation: float 6s ease-in-out infinite;
}

.parallax {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
